.naglowek-kontaktowy {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

textarea {
    resize: none;
    font-size: 16px;
}

.przycisk-wyslij {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
}

.przycisk-wyslij:hover {
    background-color: #0056b3;
}

button[name="wyslij_formularz"] {
    min-width: 150px;
    max-width: 100%;
}

.heading {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

form[name="PasswordForm"] .remind-password-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
}

form[name="PasswordForm"] .remind-password-button:hover {
    background-color: #0056b3;
}


