body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: burlywood;
}

h1 {
    text-align: center;
}

nav {
    background-color: saddlebrown;
    padding: 30px 30px;
    text-align: center;
}

main {
    flex: 1;
    padding: 0 30px;
}

#bottom {
    background-color: saddlebrown;
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    text-align: center;
    bottom: 0;
}

a {
    color: white;
    padding: 5%;
    font-size: 150%;
    text-decoration: none;
    font-style: italic;
}

a:hover {
    color: yellow;
}

.t1 {
    margin: auto;
    margin-top: 30px;
    width: 40%;
    border-collapse: collapse;
    color: white;
}

.t2 {
    margin: auto;
    color: white;
    text-align: center;
    margin-top: 30px;
}


td {
    background-color: saddlebrown;
    vertical-align: middle;
    padding: 10px;
    text-align: center;
}

form {
    background-color: saddlebrown;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    margin: 20px auto;
    width: 50%;
}
  
form textarea, form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: white;
    box-sizing: border-box;
}
  
form textarea {
    font-size: 15px;
    height: 100px;
}
  
form input[type="submit"] {
    background-color: gray;
    color: white;
    width: 10%;
}

form input[type="button"] {
    width: 30%;
    margin: 5px;
}

#time {
    width: 100px;
    height: auto;
    background-color: saddlebrown;
    text-align: center;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}